@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}


.logo__mi{
    width: 30px;
    margin-left: 10px;

}
.navbar-nav .nav-item .nav-link:hover{
    border-bottom: 2px solid rgba(255,105,0,.5);
    color: #ff6900;;
}
.navbar-nav .nav-item.right-nav .nav-link:hover{
    border-bottom:0px;    
}
.navbar-nav .nav-item.right-nav .nav-link{
    color: black;
   
}

.navbar-nav li a{
    font-size: 16px;
     color: #303030;

}
.nav-item{
    padding: 2px 8px;
}
.responsive-image img{
    width: 100%;
}
.home-carousel .carousel-caption{
    right: auto;
    left: 5%;
    bottom: auto;
    top: 11%;
    text-align: left;
}
.home-carousel .carousel-caption a{
    background-color: white;
    border-radius:15px;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
    margin: 5px;

}
.home-carousel .carousel-2{
    color: black;

}
.content-wraper-bg{
    background-color: rgb(239,239,239);
}
.picture-caption{ 
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 40vw;
}

.link-white{
    text-decoration: none;
}
.link-white:hover{
    text-decoration: underline;
    color: white;
}
.picture-caption-2{
    top: 10%;
}
.link-orange{
    text-decoration: none;
    color: #ff6900;
    
}
.link-orange:hover{
    text-decoration: underline;
    color: #ff6900;  
}
.right-section{
    background-color: white;   
}

.right-section h3{
    color: black;
}
.section-2{
    margin:15px 5px 0 5px;
   padding: 10px;
}
.section-2 h3{
    font-size: 35px;
}
.left-section{
    background-color: white; 
}
.title{
    padding: 50px 0 35px 0;
}
.site-text-a__link{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 115px 15px;
}
.site-text-a__link a{
    display: block;
    text-decoration: none;
    color: black;
}
.site-text-a__item a:hover{
    text-decoration: underline;

}
.part-1{
    background-color: white;
    padding-bottom: 5px;
}
.part-1 a{
    text-decoration: none;
    color: black;
    font-size: 18px;  
}
.part-1 a:hover{
    text-decoration: underline
}








 




/* Media Query */
@media (max-width: 991.5px){
    .top-wrapper{
        position: relative;
    }
    .nav-icons{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 75px;
    top: -2px;  
    gap: 10px;   
    }  
}
@media screen and (max-width:768px){
    .picture-caption{
        width:100vw;
    }
}
@media screen and (min-width:285px) and (max-width:334px){
    .picture-caption{
        width:200vw;
    }
}
@media screen and (max-width:1100px){
    .right-caption h3{
        font-size: 20px;
        
    }
}
@media screen and (max-width:850px){
    .right-caption h3{
        font-size: 15px;
        
    }
}
@media screen and (max-width:1150px){
    .image-section{
        height: 100%;
    }
    .section-2 h3{
        font-size: 28px;

    }
}
@media screen and (max-width:950px){
    .section-2 h3{
        font-size: 22px;
    }
}
@media screen and (max-width:720px){
    .main-section{
        display: flex;
        justify-content:space-between;
    }
    .part-1{
       margin: 0 10px 0 0; 
       padding: 0 30px;
       
    }
    .part-1 h2{
        font-size: 35px;
        margin-top: 30px;
    }
    .part-1 a{
        font-size: 27px;
    }
    .responsive-caption{
        display: block;
        margin-top: 25px;
        font-size: 27px;
    }
}
@media screen and (min-width:720px) and (max-width:1530px){
    .responsive-caption{
        display: none;
    }
}
@media screen and (max-width:391px){
    .part-1 h2{
        font-size: 18px;
        
    }
    .part-1 a{
        font-size: 15px;
    }
    .responsive-caption{
        font-size: 15px;
    }

}
